In [30]:
import numpy as np
import pandas as pd
import math

In [11]:
df=pd.read_csv("raw_data.csv")

In [12]:
df

,math score,reading score,writing score,Placement Score,placement offer count
0,72.000000,72.00,74.0,78.000,1
1,69.000000,90.00,88.0,62.125,2
2,90.000000,95.00,93.0,74.000,2
3,47.000000,57.00,77.0,78.000,1
4,52.285714,78.00,75.0,81.000,3
5,71.000000,72.25,78.0,70.000,4
6,12.000000,44.00,52.0,12.000,2
7,52.285714,65.00,67.0,49.000,1
8,5.000000,77.00,89.0,55.000,0

In [17]:
sum_values=df['math score'].sum()

In [20]:
count_values=df['math score'].count()

In [36]:
mean=sum_values/count_values

In [37]:
mean

52.28571422222222

In [25]:
np.sort(df['math score'])

array([ 5.      , 12.      , 47.      , 52.285714, 52.285714, 69.      ,
       71.      , 72.      , 90.      ])

In [31]:
middle_index=math.floor(count_values/2)

In [34]:
median=np.sort(df['math score'])[middle_index]

In [38]:
median

52.285714

In [39]:
max_value=np.sort(df['math score'])[-1]

In [40]:
max_value

90.0

In [41]:
min_value=np.sort(df['math score'])[0]

In [42]:
min_value

5.0

In [44]:
def max_value(variable):
    return np.sort(df[variable])[-1]

In [45]:
max_value('math score')

90.0

In [46]:
def min_value(variable):
    return np.sort(df[variable])[0]

In [47]:
min_value('math score')

5.0

In [48]:
def median_value(variable):
    middle_index=math.floor(count_values/2)
    return np.sort(df[variable])[middle_index]

In [49]:
median_value('math score')

52.285714

In [55]:
lst=[]
for i in range(count_values):
    sigma=(df['math score'][i]-mean)**2
    lst.append(sigma)

In [56]:
lst

[388.6530637278913,
 279.3673490612246,
 1422.3673517278914,
 27.938774839002228,
 4.9382714747368075e-14,
 350.2244921723358,
 1622.9387703945574,
 4.9382714747368075e-14,
 2235.9387695056685]

In [59]:
sum_attr=0
for i in range(len(lst)):
    sum_attr=sum_attr+lst[i]
std_dev=np.sqrt(sum_attr/count_values)

In [60]:
std_dev

26.515045145117497

In [53]:
df['math score'].std()

28.123452338370043